
/* .search:focus {
    background-color: #ece9e9;
} */

.not-visible {
    display: none;
    text-decoration: none;
}

.results-card {
    /* width: 50%; */
    /* max-height: 200px; */
    box-shadow: 8px 8px 8px 0 rgba(34, 34, 34, 0.25);
    transition: 0.5s;
    border-radius: 7px;
    padding: 10px 15px;
    /* margin: 0 auto; */
    position: absolute;
    z-index: 100;
    background-color: white;
    min-width: 200px;
    text-decoration: none;
}

.item {
    text-decoration: none;
}

.game-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.messages {
    border: 1px solid #ccc;
    border-radius: 10px;
    /* width: 30%; */
    float: right;
    margin: 10px auto;
    position: absolute;
    right: 100px;
    top: 100px;
}
.success {
    padding: 5px 25px;
    border-radius: 5px;
    color: #06b000;
    font-size: 1.2em;
    font-weight: bold;
}

.drop-doun span {
    /* float: left; */
    cursor: pointer;
}
.strelka-rotate {
    transform: rotate(90deg);
    /* padding: 20px; */
}
.strelka-img {
    vertical-align: baseline;
}

.form-label-group  input {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.form-signin {
    width: 100%;
    max-width: 420px;
    padding: 45px;
    margin: auto;
  }
  
.form-label-group {
    position: relative;
    margin-bottom: 1rem;
  }
.room{
    padding-left: 0px;
    /* font-size: 1.2em; */
    /* font-weight: bold; */
}
.equipment{
    /* padding-left: 30px; */
}
.description{
    font-size: 0.8em;
}
.description-equipment{
    padding-left: 40px;
    font-size: 0.8em;
}