<div class="jumbotron ">
    <div class="container-lg  mx-auto">
      <h1>О нас</h1>
      <p>Создание проекта умного дома
      </p>
      <p>Если вы заметили баги или хотите предложить как улушить функционал, заполните 
          форму <a href="#">здесь</a>, возможно я когда нибудь прочту вашу писанину и возможно отвечу, 
          хотите быстрого ответа на ваш вопрос или предложение, 
              пишите на какой нибудь мессенджер какой найдете. 
        
      <p>
        <a class="btn btn-primary" href="#" role="button">Пока не работает &raquo;</a>
      </p>
    </div>
  </div>